/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f0f0f;
    color: #eee;
    line-height: 1.6;
}

html {

    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300;
    margin: auto;
}

/* ===== HEADER ===== */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


header .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: .3;
}

header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .95));
}

.header-content {
    position: relative;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.header-content h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
}

.header-content h1 span {
    color: white;
}

.header-content p {
    font-size: 22px;
    margin-top: 10px;
    opacity: .9;
}

/* Buttons */
.btn {
    display: inline-block;
    /* background: #47a3ff; */
    padding: 12px 30px;
    color: #47a3ff;
    border-radius: 8px;
    border: 2px solid #1c7fd6;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    background: #1c7fd6;
    color: white;
}

.btn-outline {
    display: inline-block;
    border: 2px solid #47a3ff;
    padding: 12px 30px;
    color: white;
    border-radius: 8px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease;
}

.btn-outline:hover {
    /* background: #47a3ff; */
    color: white;
}

/* Social Icons */
.social {
    margin-top: 40px;

}

.icon {
    color: #47a3ff;
}

.social i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
    color: white;
}

.social i:hover {
    color: #47a3ff;
    transform: scale(1.2);
    color: white;
}


/* ===== NAV ===== */
.nav {
    width: 100%;
    background: #111;
    padding: 18px 0;
    text-align: center;
    position: sticky;
    top: 0;
    margin-top: 10px;
    bottom: 0;
    z-index: 50;
    box-shadow: 0 0 25px rgba(70, 163, 255, 0.25);
}

.nav a {
    color: #ddd;
    text-decoration: none;
    margin: 10 20px;
    font-size: 17px;
    transition: .3s;
}

.nav a:hover {
    color: #47a3ff;
}

.forim {
    width: 400px;
    height: 250px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

}

.text{
    margin-top: 90px;
}

.rang {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;

    padding: 10px 10px;

}

.matn {
    width: 100%;
}

.button {
    background-color: #1c7fd6;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}


/* ===== ABOUT SECTION ===== */
.about {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
    padding: 80px 8%;
    align-items: center;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #47a3ff;
}

.about p {
    margin-bottom: 20px;
    opacity: .9;
}

.about .location {
    margin-top: 20px;
    font-style: italic;
    opacity: .7;
}

/* PHOTO */
.about .photo {
    text-align: center;
}

.about .photo img {
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 0 35px rgba(70, 163, 255, 0.25);
    transition: .3s;
}

.about .photo img:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 50px rgba(70, 163, 255, 0.45);
}


/* ===== RESUME SECTION ===== */
.resume {
    padding: 80px 8%;
}

.resume h2 {
    text-align: center;
    font-size: 40px;
    color: #47a3ff;
    margin-bottom: 40px;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

/* BOX UNIVERSAL STYLE */
.box {
    background: #111;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 35px rgba(70, 163, 255, 0.25);
    transition: .3s ease;
}

.box:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 50px rgba(70, 163, 255, 0.45);
}

.box h3 {
    margin-bottom: 20px;
    color: #47a3ff;
}

/* Bars */
.bar {
    height: 9px;
    background: #333;
    border-radius: 5px;
    margin-bottom: 18px;
    overflow: hidden;
}

.bar span {
    display: block;
    height: 100%;
    background: #47a3ff;
}


/* Timeline */
.timeline {
    list-style: none;
}

.timeline li {
    margin-bottom: 18px;
}

.timeline span {
    font-weight: 600;
    color: #47a3ff;
}

/* Skills list */
.box ul {
    padding-left: 20px;
}

.box ul li {
    margin-bottom: 10px;
    opacity: .9;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .resume-grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 40px;
    }

    .about .photo img {
        width: 260px;
    }
}

a {
    color: white;
}

.photo {
    display: flex;
    justify-content: space-between;

    text-align: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 50px;
}
.h2{
    margin-top: 20px;
}

.rasim {
    width: 300px;
    height: 300px;
    /* transform: translateY(-6px); */
    box-shadow: 0 0 50px rgba(70, 163, 255, 0.45);
}

.display {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: #1c7fd6;
}

a {
    color: #1c7fd6;
}

.contact {
    margin-top: 90px;
}

